*{
    background-color: bisque;
}
.bx{
    background-color: darkorange;
    height: 100px;
    width: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
}
.bx1{
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: inline-flex;
    border-radius: 50%;
    position: absolute;
    top: 10px;

}
.bx2{
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: flex;
    border-radius: 50%;
    position: relative;
}