/* section 1 */
*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* position: sticky; */
    z-index: 1;
    width: 100%;
    opacity: 0.95;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,32,119,1) 11%, rgba(46,11,110,1) 18%, rgba(12,16,103,1) 22%, rgba(14,20,91,1) 29%, rgba(14,21,92,1) 39%, rgba(14,23,94,1) 50%, rgba(14,25,95,1) 60%, rgba(14,26,96,1) 65%, rgba(10,79,141,1) 75%, rgba(8,100,159,1) 79%, rgba(6,132,187,1) 85%, rgba(4,159,210,1) 90%, rgba(0,212,255,1) 100%);
}
.collapse .navbar-nav .nav-item{
    font-size: 20px;
} 
.collapse .navbar-nav .nav-item .nav-link{
    color: white;
    font-weight: 500;
}
.collapse .navbar-nav .nav-item .active{
    color: palevioletred;
}
.collapse .navbar-nav .nav-item .nav-link:hover{
    color: yellow;
    font-size: 22px;
}


/* section 2 */
.carousel-inner .carousel-item img{
    width: 100%;
    height: 600px;
}
.section-4 .row .card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section h1{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: 5px 5px 10px black;
}
.section-4 .row .card:hover{
    transform: scale(1.1);
}
.container-fluid .row .d-flex img:hover{
    transform: scale(1.1);
}
.testimonial-card img{
    border-radius: 50%;
    padding: 12px;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 50px;
}
