*{
    padding: 0px;
    margin: 0px;
}
.img1{
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

.dv2{
    opacity: 0.4;
    position: relative;
    z-index: 1;
    background-color: rgb(113, 139, 143);
    color: black;
    text-align: center;
    height: 50px;
    width: 500px;
    left: 300px;
   
}
.para{
    font-size: 20px;
    background-color: darkgray;
    opacity: 0.3;
    height: 300px;
    width: 864px;
    padding: 20px;
    left: 800px;
    margin-left: 200px;
}