
.logo{
    border-radius: 20%;
}
.image1{
    height: 100px;
    width: 100px;
    
}
.navbar{
    background: rgb(22,28,30);
background: linear-gradient(183deg, rgba(22,28,30,1) 36%, rgba(99,187,201,1) 77%);
}
 .card-title{
    font-size: 50px;
 }
.container{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    
    
}
.imgone{
    border-radius: 20px;
}
.aboutus{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgrey;
}
.aboutus:hover{
    color: rgb(23, 22, 23);
}


a:hover{
    border-radius: 10%;
    box-shadow: 4px 4px 5px rgb(81, 81, 101);
    background-color: rgb(18, 27, 46);
}

.popular{
    text-align: center;
}
.company{
    text-align: center;
}
.list{
    border-radius: 20px;
}
.card:hover{
    box-shadow: 5px 5px 5px darkcyan;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list:hover{
    box-shadow: 3px 2px 5px rgb(29, 28, 27);
}
#button:hover{
    box-shadow: 3px 4px 2px saddlebrown;
}
#button .btn:hover{
    box-shadow:3px 4px 2px saddlebrown; 

}
.card-text .btn:hover{
    color: blanchedalmond;
}
/* Addimition form */
.bodys{
    bbackground: rgb(86, 96, 98);
    background: linear-gradient(183deg, rgba(86,160,172,1) 18%, rgba(120,136,139,1) 55%);
}