
.logo{
    border-radius: 20%;
}
.image1{
    height: 100px;
    width: 100px;
    
}
.navbar{
    background: rgb(22,28,30);
background: linear-gradient(183deg, rgba(22,28,30,1) 36%, rgba(99,187,201,1) 77%);
}
 .card-title{
    font-size: 50px;
 }
.container{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    
    
}
.imgone{
    border-radius: 20px;
}
.aboutus{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgrey;
}
.aboutus:hover{
    color: rgb(23, 22, 23);
}


a:hover{
    border-radius: 10%;
    box-shadow: 4px 4px 5px rgb(81, 81, 101);
    background-color: rgb(18, 27, 46);
}

.popular{
    text-align: center;
}
.company{
    text-align: center;
}
.list{
    border-radius: 20px;
}
.card:hover{
    box-shadow: 5px 5px 5px darkcyan;
}

.list:hover{
    box-shadow: 3px 2px 5px rgb(29, 28, 27);
}
#button:hover{
    box-shadow: 3px 4px 2px saddlebrown;
}
#button .btn:hover{
    box-shadow:3px 4px 2px saddlebrown; 

}
.card-text .btn:hover{
    color: blanchedalmond;
}

.division1{
    height: 600px;
    width: 100%;
    position: absolute;

}
.division2{
    color: rgb(229, 227, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    height: 600px;
    width: 100%;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 10.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.getintouch2{
    
    color: rgb(131, 126, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60px;
}
.division3{
    color: rgb(118, 107, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: 60px;
    text-align: left;
    
}
.paragraph1{
    color: rgb(174, 174, 212);
    
    font-size: 27px;
    margin-left: 60px;
    text-align: left;
    
    justify-content: center;

}
.paragraph2{
    color: rgb(16, 16, 17);
    
    font-size: 20px;
    margin-left: 60px;
    text-align: left;
    
    justify-content: center;

}