<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-dark table-striped-columns">
    <tr>
        <th><a href="/form"><button type="button" class="btn btn-light">Add Student</button></a>
        </th>
    </tr>
    <tr>
        <th>RollNo:</th>
        <th>Name:</th>
        <th>Address:</th>
        <th>City:</th>
        <th>Record Update</th>
        <th>Record Delete</th>
    </tr>
    <tr th:each="stud1:${student}" >
       <td> <P th:text="${stud1.rollno}"></P></td>
        <td><p th:text="${stud1.name}"></p></td>
        <td><p th:text="${stud1.address}"></p></td>
       <td> <p th:text="${stud1.city}"></p></td>
       <td><a th:href="@{/updateStudent(rollno=${stud1.rollno})}"><button type="button" class="btn btn-secondary">Update</button></a></td>
       <td><a th:href="@{/deleteStudent(rollno=${stud1.rollno})}"><button type="button" class="btn btn-light">Delete</button></a></td>

    </tr>
</table>
</body>
</html>