.cls{
	height: 200px;
	width: 300px;
	background-color: yellowgreen;
	border-bottom: yellowgreen;
	border-top: green;
	background-top:0px solid green;
	border-left: 5px solid indigo;
	border-bottom: 5px solid white;
}
.cls1{
	height: 200px;
	width: 300px;
	background-color: yellowgreen;
	border-bottom: yellowgreen;
	border-top: green;
	background-top:0px solid green;
	border-left: 5px solid indigo;
	border-bottom: 5px solid white;
}
.cls2{
	height: 200px;
	width: 300px;
	background-color: green;
	border-style: solid;
	border-radius: 50%;
}
.cls3{
	height: 200px;
	width: 300px;
	background-color: grey;
	border-style: dashed;
	border-top-left-radius: 10px;
	border-style: solid;
	border-top: green;
}
.cls4{
	height: 200px;
	width: 300px;
	background-color: yellow;
}