*{
    margin: 0;
    padding: 0;
}
.img1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.contact{
    float: right;
    margin-right: 20px;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}
.d-block{
    width: 100%;
    height: 100%;
}
.fs-1{
    text-align: center;
    color: rgb(23, 20, 16);
    background-color: rgb(143, 109, 85);
    border-radius: 30px;
}
.img4{
    height: 700px;
    width: 600px;
    border-radius: 40px;
    margin-top: 10px;

}
.par{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    background-color: rgb(150, 100, 82);
    border-radius: 30px;
    margin-top: 10px;
}   
.container{
    background-color: beige;
}
.carousel{
    width: 100%;
    height: 100%;
    
}
.main1{
    background-color: #577b95;
}
.his1{
    border-radius: 30px;
}