.cl{
	color: bisque;
	background-color: aqua;
	width: 100%;
	text-justify: auto;


}
li{
	display: inline-block;
	
	padding: 15px;
		
	
}
a{
	text-decoration: none;
	
	height: 30px;

}
a:visited{
	color: black;

}
a:hover{
	color: greenyellow;
}
a:link{
	color: red;
}
a:active{
	color: greenyellow;
}
ul{
	height: 100px;
}
.img1{
	height: 30px;
	width: 15px;
	border-radius: 50%;
}