.img1{
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

.dv2{
    opacity: 0.4;
    position: relative;
    z-index: 1;
    background-color: rgb(113, 139, 143);
    color: black;
    text-align: center;
}
.para{
    font-size: 20px;
    background-color: darkgray;
    opacity: 0.3;
}