.par{
    background-color: beige;

}
a{

}
ul{
    height: 100px;
    width: 100%;
   
    position: absolute;
    background-color: aqua;

    
}
li{
   display: flex; 
   display: inline-block;
   margin-left: 10px;
}
