.main{
    background-color: aqua;
    height: 50px;
    width: 100%;
}
ul{
display: flex;
justify-content: space-around;
list-style: none;
align-items: center;

}
li a{
    text-decoration: none;
    text-shadow: 30x 30px snow;
    color: blueviolet;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
}
li:hover{
   background-color: bisque; 
   border-radius: 20px;
   

}
i:hover{
    background-color: bisque;

}