*{
    padding: 0;
    margin: 0;
}
.main .nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 18px 40px;
    font-size: 25px;
    position: fixed;
    width: 100%;
}
.main video{
    width: 100%;
    position: absolute;
}

.main .text{
    position: relative;
    color: white;
    max-width: 700px;
    background-color: black;
    opacity: 0.4;
    padding: 18px 40px;
    top: 150px;
    left: 200px;
    border-radius: 40px;
}
.main .text:hover{
    color: black;
    background-color: white;
}
.main .text h1{
    text-align: center;
    font-size: 40px;
    color: red;
}
.main .text h1:hover{
    color: aqua;
}